@model ProyectoFinal_GarroFernando.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}


<div class="card mt-5 col-md-6 mx-auto">
    <div class="card-header">
        <h3 class="card-title">Datos del usuario a eliminar</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-10">
                Nombre:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-10">
                Primer apellido:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Apellido1)
            </dd>
            <dt class="col-sm-10">
                Segundo apellido:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Apellido2)
            </dd>
            <dt class="col-sm-10">
                Identificación:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Identificacion)
            </dd>
            <dt class="col-sm-10">
                Correo electrónico:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-10">
                Teléfono:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class="col-sm-10">
                Fecha de nacimiento:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Borrar usuario" class="btn btn-warning btn-block" />
        </form>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-danger btn-block">Volver a la lista principal</a>
    </div>
</div>